{{ with .data.nav }}
<header class="nav-bar">
<div class="nav-logo" style="float: left">
<img src="{{ .logo.src }}" alt="logo" width="{{ .logo.width }}" height="{{ .logo.height }}"/>
</div>
<nav style="float: right">
{{ range .items }}
<a class="nav-item-link" href="{{ .link }}">{{ .name }}</a>
{{ end }}
</nav>
</header>
{{ end }}